*{
	padding: 0;
	border: 0;
	margin: 0;
}
body {
	text-align: center;
    
}

.topo {
	position: fixed;
	top:0%;
	left: 0%;
	z-index: 1;
	width:100%;
	height: 5.5em;

	background-color: white;
	border-top: 2px outset gray;
}
.topo .logo{
	display:block;
	float: left;
	margin-left: 1em;
	margin-top:0.5em;
	max-width: 12em;

}
.topo .supDir{
	display:none;
	float:left;
	width:20%;
	margin-top:0.75em;

}
.topo nav {
	position: fixed;
	top:5%;
	left: 15%;
	font-size:1.2em;

}

.topo nav ul li{
	display: inline-block;
	text-decoration: none;

}
.topo nav ul li a {
	padding:0.5em;
	text-decoration:none;
	margin-left:1em;
	border-bottom:2px outset lightgoldenrodyellow;
	color:black;
}.topo nav ul li a:hover {
	/*background-color:lightgray;*/
	border-bottom:3px inset darkgoldenrod;
	color:darkgoldenrod;
	/*border-top: 1px solid lightsteelblue;*/

}
.centro {

	margin-top:8.5em;
	margin-left: 1%;
	width: 98%;
	min-height: 40em;
	/*border: 1px solid black;*/
    
    
	

}
.centro .central {
	position: relative;
	margin-top: 0.5em;
	background-color: white; 
	width: 96%;
	margin-left: 2%;
    word-wrap:break-word;
	overflow: hidden;
	font:  bold 1em
 "Courier New", sans-serif;
	color:black;
    

}

.centro .central h2{
    text-align: left;
}
.centro .central img {
   width: 40%;
    min-width: 30em;
    height: auto;
    
    float: left;
    padding: 2%;
}
.centro .central p {
    text-align: justify;
    
}

.centro .esquerdo {
	float:left;
	background-color: black; 
	width:46%;
	margin-top: 1em;
	margin-left: 2%;
	max-height: 24em;
	border: 7px outset black;
	padding:4px;
	font:  bold 1em
 "Courier New", sans-serif;
	color:lightgoldenrodyellow;

}
.centro .esquerdo:hover{
	border-color:white;
	background-color:#211;
	box-shadow:1px 1px 1px 1px darkgoldenrod;
}
.centro .esquerdo img{
	position:relative;
	width:100%;
	max-height: 19.0em;
}

.centro .direitoCima {
	float:left;
	position:relative;
	margin-left: 1%;

	background-color: white; 
	width: 24%;
	height: auto;
	border: 1px outset black;

}
.centro .direitoCima:hover {
	background-color:lightyellow;
	border-color:darkorange;
	
}

.centro .direitoBaixo {
	overflow:auto;
	float:left;
	margin-left:0.5em;
	margin-top: 0.5em;
	background-color: white; 
	width: 20%;
	height: 11.5em;
	border: 5px outset black;

}
.centro .direitoBaixo h2 , h3 {
	display:none;
}


.centro .direitoBaixo:hover {
	background-color:lightyellow;
	border-color:darkblue;
	
}
.centro .direitoBaixo .lateral,.direitoCima .lateral{

	float:left;
	width:100%;
	max-height:9.0em;
}





.centro .direitoBaixo h2,.direitoCima h2{
	display:none;
	float:right;
	width:60%;
}

.centro .direitoBaixo h3,.direitoCima h3{
	font-size:1.2em;
	float:right;
	width:60%;
}


.aleartorio{

	overflow:auto;
	text-align:center;
	padding: 4px;
	margin-top:0.5em;
	margin-left: 2%;
	width: 96%;
	min-height: 10em;
	/*background-color: green;*/
}
.tituloSection{
	padding:0.2em;
	width:50%;
	margin-left: 25%;
	background-color:white;
	color:darkgoldenrod;
	border:3px inset darkgoldenrod;
	-webkit-border-radius: 1em;
	-moz-border-radius: 12em;
	border-radius: 4em;
	text-align:center;
}
.fAleartorio  h2{
	
	color:darkgoldenrod;
}
.aleartorio .fAleartorio{
	position:relative;
	padding: 0.05em;
	width: 23%;
	height: 9em;
	float: left;
	margin-top: 1.2em;
	margin-left: 1%;
	background-color: white;
	border: 2px outset black;
	text-align: justify;
	word-wrap:break-word;
	overflow:hidden;
	text-overflow: ellipsis;
}
.aleartorio .fAleartorio:hover{
	position:absolute;
	width:94%;
	margin-left: 1%;
	z-index:1;
	border-color:darkgoldenrod;
	background-color:lightgoldenrodyellow;
	

}
.aleartorio .fAleartorio p , article , header{
	padding:1%;

	}
.rodape {
	margin-top:1.5em;
	font-size:0.9em;
	color:lightslategray;
	/*text-shadow:2px 2px 1px black;*/
	width: 100%;
	height: 2em;
	border-top:5px outset gray;
	background-color: white;
}
.rodape a, a:visited ,a:hover,a:focus{
	color:lightslategrey;
	text-decoration:none;
}
.slicknav_menu {
	display:none;
}


@media screen and (max-width: 900px) {
    .centro .central img {
        width: 98%;
    }
	.tituloSection {
		font-size:1em;
	}
	.centro {
		margin-top:1em;
	}
	#topo {
		display:none;
	}
	
	.slicknav_menu {
		z-index:1;
		display:block;
	}
	.centro .direitoBaixo .lateral,.direitoCima .lateral{

	float:left;
	width:100%;
	max-height:9.0em;
}



.centro .direitoBaixo h2,.direitoCima h2{
	font-size:1.25em;
	float:right;
	width:100%;
}

.centro .direitoBaixo h3,.direitoCima h3{
	font-size:1.25em;
	float:right;
	width:100%;
}
	.aleartorio .fAleartorio{
		width:48%;
	}
	.aleartorio .fAleartorio:hover{
	
		position:relative;
		width:48%;

}
	.centro {
		overflow:auto;
		text-align: center;
	}
	.centro .esquerdo {
		position:relative;
		float:left;
		width:90%;
		margin-left: 3%;

	}
	.centro .direitoCima,.centro .direitoBaixo{
		position:relative;
		margin-left:3%;
		margin-top:1em;
		width:43%;
		height: 13.0em;
		display:block;
		float:left;


	}
	.centro h1{
		display:none;
	}
	

}

@media screen and (max-width: 600px) {

	.centro .direitoBaixo .lateral,.direitoCima .lateral{

	float:left;
	width:100%;
	max-height:8.0em;
}



.centro .direitoBaixo h2,.direitoCima h2{
	font-size:1.25em;
	float:right;
	width:100%;
}

.centro .direitoBaixo h3,.direitoCima h3{
	font-size:1.25em;
	float:right;
	width:100%;
}
	.aleartorio .fAleartorio{

		margin-left: 5%;
		width:90%;
		
	}

	.aleartorio .fAleartorio:hover{
	position:relative;
	margin-left: 5%;
		width:90%;

}
	.aleartorio h2{
		display:block;
	}
	.centro {
		overflow:auto;
		text-align: center;
	}
	.centro .esquerdo {
		position:relative;
		float:left;
		width:90%;
		margin-left: 3%;

	}
	.centro .direitoCima,.centro .direitoBaixo{
		position:relative;
		margin-left:3%;
		margin-top:1em;
		width:43%;
		height: 13.0em;
		display:block;
		float:left;


	}
	

}

@media screen and (max-width: 300px) {
	.centro .direitoBaixo .lateral,.direitoCima .lateral{

	float:left;
	width:100%;
	max-height:3.5em;
}



.centro .direitoBaixo h2,.direitoCima h2{
	font-size:1.0em;
	float:right;
	width:100%;
}

.centro .direitoBaixo h3,.direitoCima h3{
	display:none;
	font-size:1.0em;
	float:right;
	width:100%;
}
	.aleartorio .fAleartorio{
		margin-left: 5%;
		width:90%;
	}
	.aleartorio h2{
		display:block;
	}
	.centro {
		overflow:auto;
		text-align: center;
	}
	.centro .esquerdo {
		font-size:1em;
		position:relative;
		float:left;
		width:90%;
		margin-left: 3%;

	}
	.centro .esquerdo h3{
		display:none;
	}
	.centro .direitoCima,.centro .direitoBaixo{
		position:relative;
		margin-left:3%;
		margin-top:1em;
		width:90%;
		max-height: 5.0em;
		display:block;
		float:left;


	}
	

}